:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway', sans-serif;
  --accent-font: 'STIXTwoText', sans-serif;
  --text-main-size: 18px;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  color: var(--text-color, black);
  font-family: var(--main-font);
  background-color: var(--bg-color, white);
}

.content-section {
  padding: 0 5vi;
}

.header {
  padding-top: 10%;
}

.heading {
  text-align: center;
  font-family: var(--accent-font, sans-serif);
  line-height: 90%;
}

.header__title {
  margin-bottom: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.header__menu {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header__theme-toggler__list-item {
  display: flex;
}

.header__theme-button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  color: currentColor;
  font-size: 18px;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button_is-active {
  position: relative;
  font-weight: bold;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 4px);
  block-size: 0.5ch;
  background-color: var(--accent-color, #ffab6b);
  inset-block-end: 0.6ch;
  inset-inline-start: -1.6px;
}

.content__title {
  margin-top: 7%;
  margin-bottom: 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: var(--text-main-size, 18px);
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.paragraph-link {
  color: inherit;
}

.content__blockquote {
  margin: 0 auto 1.5em;
  width: 75%;
  font-family: var(--main-font, sans-serif);
  font-style: italic;
  line-height: 200%;
}

.content__text-block_type_first-lettered::first-letter {
  margin-right: 1px;
  padding: 0 4px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: var(--accent-color, #ffab6b);
}

.content__list {
  list-style: none;
}

.content-list__item {
  position: relative;
  padding-inline-start: 40px;
}

.content-list__item::before {
  position: absolute;
  inset: 50% 0 -50% 1%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  content: '';
  background-image: url(../images/marker-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content__list .content-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.content__figure {
  margin: 7% 0;
  width: calc(100% + 10vi);
  transform: translateX(-5vi);
}

.content__picture {
  width: inherit;
}

.content__picture-caption {
  border-bottom: 1px solid currentColor;
  padding: 20px 0;
  text-align: center;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  aspect-ratio: 4 / 3;
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  display: inline-block;
  position: relative;
}

.colored-text::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color, #ffab6b);
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

.content__card-subtitle {
  text-align: center;
}
